body{
    font-family: 'DM Sans';
    
}
nav li.active{
    position: relative;
}
nav li.active:after{
    content: '';
    position: absolute;
    bottom: -6px;
    width: 26px;
    height: 14px;
    background-image: url("../img/nav-active.svg");
    left: -10px;
}